@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Outfit:wght@100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    object-fit: contain;
}

.image {
    position: relative;
    cursor: pointer;
}

.nft-img {
    width: 100%;
    display: block;
    border-radius: 15px;
}

.image:hover .nft-img {
    opacity: 0.4;
    background-color: hsl(178, 100%, 50%);;
}

.image:hover .middle {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsl(178, 100%, 50%);
    opacity: 0;
    transition: opacity 0.5 ease;
    border-radius: 15px;
}

.image:hover .overlay {
    opacity: 0.5;
}

.card {
    background-color: hsl(216, 50%, 16%);
    width: 40ch;
    min-height: 70ch;
    padding: 3ch;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.card > * {
    margin-bottom: 3ch;
}

.nft-number {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 1.5rem;
}

.paragraph {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.amount {
    display: flex;
}

.numeral {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
    margin-left: 1ch;
}

.time {
    display: flex;
}

.duration {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin-left: 1ch;
}

.inline {
    display: flex;
    justify-content: space-between;
}

.line {
    width: 100%;
    height: 0.3ch;
    background-color: hsl(215, 32%, 27%);
}

.credits {
    display: flex;
    align-items: center;
}

.credits img {
    object-fit: contain;
    outline: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    height: 50px;
    max-width: 100%;
}

.creator {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin-left: 2ch;
}

.paragraph,
.numeral,
.duration,
.creator {
    font-size: 18px;
}

.name {
    color: hsl(0, 0%, 100%);
}

.name:hover,
.nft-number:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.etf-image:hover {
    opacity: 0.5;
    background-color: hsl(178, 100%, 50%);
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}