@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Outfit:wght@100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: hsl(216, 50%, 16%);
    width: 40ch;
    min-height: 80ch;
    border-radius: 15px;
}